
.source_div {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.heap_link {
  color: black;
}

.file_item, .file_item_current {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: smaller;
  margin-right: 3px;
  padding: 3px;
  text-decoration: underline;
}

.file_item, .file_item_current:hover {
  cursor: pointer;
  cursor: hand;
}

.file_item {
  background-color: #FAFAFA;
}

.file_item_current {
  background-color: #FFCCCC;
}

#main_table td {
  vertical-align: top;
  border: 1px solid black;
}

#action_output {
  font-weight: bold;
  color: red;
}

#disp_env {
  margin-top: 0.5em;
}

#select_source_code {
  width: 40em;
}

#disp_env_pane {
  height: 100%;
  width: 25%;
  float: left;
  /*DEBUG background-color:green;*/
}

#frame_container {
    float: left;
    height:100%;
    width:50%;
    resize:horizontal;
    overflow: auto;
    /*DEBUG background-color:red;*/
}

#frame_spec {
    height: 100%;
    width: 100%;
}

#disp_ctx_container {
    height: 100%;
    width: 25%;
    float: left;
    /*DEBUG background-color:blue;*/
}

.debug-selection {
  background: #F3F781;
}

.scroll-pane
{
  width: 100%;
  height: 300px;
  overflow: auto;
}
.hint {
  display: none;
}

#main_container {
    width:100%;
    height:100vh;
}

#code_container {
    *display:inline-block;
    width:100%;
    height:50%;
    resize:vertical;
    overflow: auto;
    border: 1px solid;
}

#display_container {
    *display:inline-block;
    width:100%;
    height:50%;
    resize:vertical;
    overflow: auto;
    border: 1px solid;
}

#source_code {
    height: 100%;
    width: 50%;
    /*DEBUG background-color:green;*/
    float: left;
    resize:horizontal;
    overflow: auto;
    max-width: 100%;
}

#interpreter_code_container {
    height: 100%;
    width: 50%;
    /*DEBUG background-color:blue;*/
    float: left;
}
